# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# ROS 2 Build / Install / Log outputs
build/
install/
log/
**/ROS2_WS/build/
**/ROS2_WS/install/
**/ROS2_WS/log/
workspace/ROS2_WS/build/
workspace/ROS2_WS/install/
workspace/ROS2_WS/log/
